.coupon-entry {
  display: flex;
  overflow: hidden;
  min-height: 8em;
  padding: 0;
  & > .thumbnail {
    flex: 0 0 auto;
    width: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  & > .content {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    padding: 0.7em 0.8em 0.8em;
  }
  & .text {
    min-height: 2.8em;
    font-size: 1.2em;
    line-height: 1.4;
    & .row {
      display: flex;
      white-space: pre;
      & > * {
        flex: 0 1 auto;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & > .plain-text {
        flex: 0 0 auto;
        display: inline;
      }
    }
    & .name {
      font-weight: bold;
    }
  }
  & .button-component {
    display: block;
    width: 100%;
  }
}
