@import '../color.css';

.loading-overlay-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(10%, 10%, 10%, 0.85);
  color: var(--grey-000);
  text-align: center;
  opacity: 1;
  transition: opacity .2s;
  animation: 3s 1s both loading-overlay-appear;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    animation: none;
  }
  & > .text {
    font-size: 2em;
    white-space: pre-line;
    line-height: 1.6;
  }
}

@keyframes loading-overlay-appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
