@import '../color.css';

.phone-input-component {
  display: flex;
  flex-direction: column;
  & > .header {
    border-bottom: 1px solid var(--grey-400);
    text-align: center;
    padding: 1.5em 0;
    & > .form {
      position: relative;
      & > .input {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        font-size: 2em;
        text-align: center;
        color: var(--grey-700);
        @media screen and (min-width: 62em) {
          font-size: 2.6em;
        }
      }
      & > .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    & > .caption {
      margin: 1.2em 1em -1.2em;
      font-size: 0.6em;
      line-height: 1.6;
      color: var(--grey-600);
      @media screen and (min-width: 62em) {
        font-size: 0.5em;
      }

      & a {
        color: var(--grey-600);
      }
    }
  }
  & > .dial {
    flex: 1 0 0px;
    & .row {
      border-top: 1px solid var(--grey-400);

      &:first-child {
        border-top: none;
      }
    }
    & .cell {
      border-left: 1px solid var(--grey-400);

      &:first-child {
        border-left: none;
      }

      & > button {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 1.2em;
        font-weight: normal;
        @media screen and (min-width: 50em) {
          font-size: 1.6em;
        }
        & > .backspace-icon {
          width: 1em;
          stroke: var(--grey-600);
        }
      }
    }
  }
}
