@import '../color.css';

.timeout-overlay-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(100%, 100%, 100%, 0.85);
  text-align: center;
  opacity: 1;
  transition: opacity .2s;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  & > .title {
    margin: 0.5em 0;
    font-size: 1.5em;
    font-weight: normal;
    & .bold {
      font-weight: bold;
    }
    & .seconds {
      color: var(--blue-600);
    }
  }
  & > .text {
    margin: 0.5em 0;
    white-space: pre-line;
    line-height: 1.6;
  }
}
