@import '../../color.css';
@import '../../util/button.css';

.button-component {
  border: none;
  font-size: inherit;
  font-weight: bold;
  padding: 0 0.5em;
  transition: background-color .1s;

  @apply --button-blue;

  &.grey {
    @apply --button-grey;
  }
  &.white {
    @apply --button-white;
  }
  &.grey-ui {
    @apply --button-grey-ui;
  }
}
