@import '../../color.css';

.cancel-button-component {
  margin: 0;
  padding: 1em 1em;
  background: none;
  border: none;
  color: var(--grey-600);
  font-weight: bold;
  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
  & > .cancel-icon {
    width: 1em;
    vertical-align: -0.15em;
    stroke: var(--grey-600);
    margin-left: 0.3em;
  }
}
