@import '../../color.css';

.dial-component {
  display: flex;
  flex-direction: column;
  & > .row {
    flex: 1 0 0px;
    display: flex;
    flex-direction: row;
    & > .cell {
      flex: 1 0 0px;
    }
  }
}
