@import '../../color.css';

.header-component {
  position: relative;
  color: var(--grey-700);
  text-align: center;
  padding: 1em 1em;
  border-bottom: 1px solid var(--grey-400);
  & > .right {
    position: absolute;
    right: 0;
    top: 0;
  }
}
