.image-carousel-component {
  min-width: 0;
  min-height: 0;
  & .image-carousel-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  /* slick internals */
  & .slick-list, & .slick-track {
    height: 100%;
  }
  & .slick-arrow {
    display: none;
  }
}
