@import '../../color.css';

.snack-bar-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--grey-700);
  color: var(--grey-100);
  text-align: center;
  padding: 1em 1em;
  border-bottom: 1px solid var(--grey-800);
  transform: translateY(0);
  transition: transform .2s;
  &.hidden {
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform .2s, visibility .2s;
  }
  & > .content > .notice-icon {
    width: 1em;
    vertical-align: -0.15em;
    stroke: var(--grey-400);
    margin-right: 0.4em;
  }
}
