@import '../color.css';

.app-component {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  height: 100%;
  margin: 0 auto;

  background-color: var(--grey-000);
  box-shadow: 0 0 3px var(--grey-800);

  & > .page-router-component {
    flex: 1 0 0px;
  }
}
