@import '../color.css';

.page-router-component {
  position: relative;
  overflow: hidden;

  & > .page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .5s;

    &.active {
      display: block;
    }
    &.fade-enter {
      display: block;
      transform: translateX(100%);
    }
    &.fade-enter-active {
      transform: translateX(0);
    }
    &.fade-exit {
      display: block;
    }
    &.fade-exit-active {
      transform: translateX(-100%);
    }

    & > .page-component {
      width: 100%;
      height: 100%;
    }
  }
}
