@import '../color.css';

:root {
  --button-blue {
    background-color: var(--blue-600);
    color: var(--grey-000);
    &:hover, &:focus, &:active {
      background-color: var(--blue-500);
    }
  }
  --button-grey {
    background-color: var(--grey-600);
    color: var(--grey-000);
    &:hover, &:focus, &:active {
      background-color: var(--grey-700);
    }
  }
  --button-white {
    background-color: var(--grey-000);
    color: var(--grey-700);
    &:hover, &:focus, &:active {
      background-color: var(--grey-100);
    }
  }
  --button-grey-ui {
    padding: 0.6em;
    border: 1px solid var(--grey-500);
    border-radius: 0.1em;
    background-color: var(--grey-100);
    color: var(--grey-700);
    box-shadow: 0 2px 3px -1px var(--grey-500);
    font-weight: normal;
    &:hover, &:focus, &:active {
      background-color: var(--grey-000);
    }
  }
}


