@import './color.css';

html, body, #root {
  /* Because we forcefully specified the size of height, app container must not
   * overflow. (It can be mitigated by using flexbox.)
   */
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "나눔바른고딕", NanumBarunGothic, "나눔고딕", NanumGothic,
    "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "돋움",
    "Dotum", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

html {
  background-color: var(--grey-100);
  color: var(--grey-800);
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}
