@import '../../color.css';

.form-page-component {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-000);

  & > .content {
    flex: 1 0 0px;
    display: flex;
    flex-direction: row;
    & > .sidebar {
      flex: 0 1 auto;
      width: 15em;
      background-color: var(--grey-100);
      border-right: 1px solid var(--grey-400);
      @media screen and (min-width: 62em) {
        width: 17em;
      }
    }
    & > .content {
      flex: 1 0 0px;
      & > .phone-input {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .overview-content {
    font-size: 1.4em;
  }

  & .kakao-logo {
    height: 1em;
    margin-bottom: 0.4em;
  }
  & .kakao-content {
    font-size: 0.7em;
    line-height: 1.6;
    white-space: pre-line;
  }
}
