@import '../../color.css';

.result-page-component {
  display: flex;
  flex-direction: column;
  padding: 0.7em 0;
  background-color: var(--grey-100);
  box-sizing: border-box;
  & > .pane-component {
    margin: 0.3em 1em;
  }
  & > .summary {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    & > .header {
      padding: 0 0 0.6em;
      font-size: 1.2em;
      & > .points {
        font-size: 1.6em;
      }
      @media screen and (min-height: 25em) {
        font-size: 2em;
      }
    }
    & > .divider {
      flex: 0 0 auto;
      width: 100%;
      max-width: 12em;
      height: 1px;
      margin: 0 auto;
      border: none;
      color: var(--grey-400);
      background-color: var(--grey-400);
    }
    & > .current {
      padding: 1em 0 0;
      font-size: 1.2em;
      color: var(--grey-600);
      & > .point-span-component {
        color: var(--grey-600);
      }
    }
  }
}
