@import '../../color.css';

.splash-page-component {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-000);

  & > .content {
    flex: 1 0 0px;
  }
  & > .footer {
    flex: 0 0 auto;
    display: flex;
    height: 4em;
    align-items: stretch;

    & > .content {
      flex: 1 0 0px;
      display: flex;
      align-items: center;
      min-width: 0;
      border-top: 1px solid var(--grey-400);
      background-color: var(--grey-000);
      & > .logo {
        display: inline-block;
        width: 5.5em;
        padding: 0 1em;
      }
      & > .title {
        flex: 1 1 0px;
        display: inline-block;
        min-width: 0;
        font-size: 1.2em;
      }
    }

    & > .continue {
      height: 100%;
      padding: 0 2em;
    }
  }
}
